@use "./reset";
@use "./fonts";

:root {
    --color-background: #ffffff;
    --color-foreground: #444444;
    --color-midground: #cccccc;
    --color-link: #0864c7;
}

body {
    font-family: "Crimson Text", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    color: var(--color-foreground);
    background-color: var(--color-background);
    overflow-y: scroll;
}

main {
    max-width: 680px;
    margin: 1rem auto;
    padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0.5rem 0;
}

a {
    color: var(--color-link);
}

.list-container {
    padding: 0;
}

.list-entry {
    list-style-type: none;
    margin: 0.5rem 0;
}

.list-title {
    margin: -0.5rem 0 0 0;
}

p {
    margin: 1rem 0;
}

hr {
    margin: 3rem auto;
    border: none;
    background-color: var(--color-midground);
    height: 1px;
}

blockquote {
    padding-left: 2.5rem;
    border-left: 2px solid var(--color-midground);
}

code, pre {
    font-size: 14px;
}
