<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">
    <head>
        <meta charset="UTF-8">
        <title>{{ if (not .IsHome) }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
        <meta name="author" content="{{ .Site.Params.author }}">
        <link rel="canonical" href="{{ .Permalink }}">
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        {{ $opts := dict "transpiler" "dartsass" }}
        {{ $style := resources.Get "main.scss" | css.Sass $opts | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">
        {{ if .Params.math }}
        <script>
            MathJax = {
                tex: {
                    inlineMath: [['\\(', '\\)']],
                    displayMath: [['\\[', '\\]']]
                }
            }
        </script>
        <script defer src="/mathjax/tex-chtml.js"></script>
        {{ end }}
    </head>
    <body>
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>
    </body>
</html>
